---
layout: nz
---

<ul id="connect">
  <li>
    <a href="/">jasonanton.com</a>
  </li>
</ul>

<div class="loading-container">
  <div class="pulse"></div>
</div>

<div id="slides">
  <ul class="slides-container">
    <li>
      <img src="/assets/nz/IMG_6094.JPG" />
      <div class="container">
        <h1>Our trip to New Zealand!</h1>
        <p>Nearly all of the photographs were taken by <a href="https://www.courtneyanton.com">Courtney</a>.  A few were taken by our pilots from <a href="http://www.nzgforce.com">GForce Paragliding</a>.</p>
        <p>There are a few images yet to be uploaded.  I will update this gallery with those as they come in.  There are also a few videos that may or may not make it to YouTube, and a few Courtney put on Instagram.</p>
    {% for image in site.static_files %}
      {% if image.path contains 'nz/rotorua' %}
        <li>
          <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
          <div class="container">
            <h1>Rotorua</h1>
          </div>
        </li>
      {% endif %}
    {% endfor %}
    {% for image in site.static_files %}
      {% if image.path contains 'nz/hobbiton' %}
        <li>
          <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
          <div class="container">
            <h1>Hobbiton</h1>
          </div>
        </li>
      {% endif %}
    {% endfor %}
    {% for image in site.static_files %}
      {% if image.path contains 'nz/wellington' %}
        <li>
          <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
          <div class="container">
            <h1>Wellington</h1>
          </div>
        </li>
      {% endif %}
    {% endfor %}
    {% for image in site.static_files %}
      {% if image.path contains 'nz/milfordsound' %}
        <li>
          <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
          <div class="container">
            <h1>Milford Sound</h1>
          </div>
        </li>
      {% endif %}
    {% endfor %}
    {% for image in site.static_files %}
      {% if image.path contains 'nz/queenstown' %}
        <li>
          <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
          <div class="container">
            <h1>Queenstown</h1>
          </div>
        </li>
      {% endif %}
    {% endfor %}
    {% for image in site.static_files %}
      {% if image.path contains 'nz/mtcook' %}
        <li>
          <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
          <div class="container">
            <h1>Mt. Cook</h1>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <nav class="slides-navigation">
    <a href="#" class="next">
      <i class="icon-chevron-right"></i>
    </a>
    <a href="#" class="prev">
      <i class="icon-chevron-left"></i>
    </a>
  </nav>
</div>
